<h2>List of memberships</h2>
<p> Number of membershps: <%= @memberships.count %> </p>

<ul>
 <% @memberships.each do |membership| %>
   <%= link_to membership.user.username, membership.user %>
   belongs to
   <%= link_to membership.beer_club.name, membership.beer_club %>
 <% end %>
</ul>

<%= link_to 'New membership', new_membership_path %>
